.bg-transparant {
  background-color: rgba(0, 0, 0, 0.7);
}

.intro-banner {
  margin-top: 0rem;
  background-image: url("../banner.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.publication-list {
  padding-bottom: 1rem;
}

.publication-link {
  color: black;
}
.publication-link:hover {
  color: darkslategrey;
  text-decoration: none;
}
.publication-link:visited {
  text-decoration: none;
}

.footer-link {
  color: white;
}
.footer-link:hover {
  color: white;
  text-decoration: none;
}
.footer-link:visited {
  text-decoration: none;
}

ul.list-unstyled {
  list-style-type: disc;
  padding-left: 20px;
}

li.publication-list {
  margin-bottom: 10px;
}

.mta-bullet {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 1.3em;
  font-size: 1em;
  margin: 0 0.2em;
}

.mta-1 {
  background-color: #ee352e;
}

.mta-a,
.mta-c {
  background-color: #0039a6;
}

/* Uncomment to change the color of the navbar and footer */
/* .navbar, .navbar-dark .navbar-nav .nav-link { */
/*   background-color: #337ab7 !important; */
/* } */
/* footer.bg-dark { */
/*   background-color: #337ab7 !important; */
/* } */
