<div class="container mx-auto">
  <div class="col-lg-10 mx-auto">
    <h2>Contact Us</h2>
    <div class="row">
      <!-- Contact Info Column -->
      <div class="col-lg-6">
        <p>
          Our laboratory is on the 6th floor of the Irving Cancer Research Center building, located between 166th and 167th
          streets on Saint Nicholas Ave., just across from the NYP Adult Emergency main entrance. Subway lines
          <span class="mta-bullet mta-1">1</span> or
          <span class="mta-bullet mta-a">A</span>
          <span class="mta-bullet mta-c">C</span> to the 168th Street Station.
        </p>
        <br />
        <address>
          {{ range site.Params.address }}{{ . }}<br />
          {{ end }}<br />
          <abbr title="Phone">Phone:</abbr> {{ site.Params.phone }} <br />
        </address>
      </div>
      <!-- Map Column -->
      <div class="col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.4632594540813!2d-73.94211612396799!3d40.83975177137466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f7b5f2647ccb%3A0x4a04307b8fce7890!2sColumbia%20University%20Irving%20Cancer%20Research%20Center!5e0!3m2!1sen!2sus!4v1726247054753!5m2!1sen!2sus"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
