<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/WebSite">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ryan D. Najac" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Meta Description: search engines show this text in results -->
    <meta name="description" content="{{ .Description }}" />
    <!-- Meta Keywords: list keywords for the site -->
    <meta name="keywords" content="{{ delimit .Keywords `, ` }}" />

    <title>{{ .Title }}</title>

    <!-- Canonical Tag: marks this page as the main version if duplicates exist -->
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Favicon: icon in the browser tab -->
    <link rel="icon" type="image/x-icon" href='{{ "assets/favicon.png" | relURL }}' />

    <!-- Open Graph Meta Tags: tags for social media and search previews -->
    {{ template "_internal/opengraph.html" . }}

    <!-- Twitter Card Meta Tags -->
    {{ template "_internal/twitter_cards.html" . }}

    <!-- Schema.org: microdata for search engines -->
    {{ template "_internal/schema.html" . }}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-scrolling-nav@5.0.6/dist/css/styles.min.css" rel="stylesheet" />
    <link href='{{ "assets/css/styles.css" | relURL }}' rel="stylesheet" />
  </head>
  <body id="page-top">
    {{ partial "navbar.html" . }}
    {{ partial "banner.html" . }}
    {{ partial "about.html" . }}
    {{ partial "team.html" . }}
    {{ partial "publications.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/startbootstrap-scrolling-nav@5.0.6/dist/js/scripts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/rdnajac/js/pubmed.js"></script>
    <script>
      initializePubMedSection("Teresa Palomero", "publications-section");
    </script>
    <!-- TODO: Generate publication list for each lab member -->
  </body>
</html>

